/*
Adição e dimencionamento do logo
*/
div #logo{
    width:150px;
    height:135px;
    background-image: url(../../img/logo.png);
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

/*
Mudando as cores do menu
*/
.megamenu-parent li>a {
    color: #1c84c7;
}

/*
 Resumo da notícia na página simples
*/
div.resumo-noticia{
    border-top: solid 1px #e9eaed;
    padding: 25px 0 0 0;
}

div.resumo-noticia>p{
    text-align: center;
    color: #a9a9a9;
}

/*Conteúdo do texto, página simples*/
.entry-summary p {
    margin-top: 20px;
}

img {
    /*max-width:100%; Imagens dos vídeos pararma de aparecer*/
    width: auto;
    height: auto;
}

div.noticia>img {
    max-height: 253px;
}


/*Estilos para a nova versão do wol-slide*/
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';
    display: inline-block;

}
.owl-carousel .owl-nav .owl-prev:before{
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    content: "\f054";
    margin-right:10px;
}